body {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

.container {
    max-width: 1055px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background: linear-gradient(252.94deg, #FFEE32 -13.48%, #D6D6D6 125.48%);

    &_content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 41px;
        position: fixed;
        background: transparent;
        z-index: 4;
        top: 0;
        left: 0;
        right: 0;

        @media (min-width:768px) {
            padding-left: 33px;
            padding-right: 33px;
        }

        @media (min-width:320px) {
            padding-left: 16px;
            padding-right: 16px;
        }

        &__burger-link {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            border: 2px solid white;
            border-radius: 20px;
            height: 14px;
            margin-top: 9px;


            @media (min-width:320px) {
                & {
                    display: flex;
                    margin-right: 33px;
                }
            }

            @media (min-width:768px) {
                & {
                    display: flex;
                    margin-right: 33px;
                }
            }

            @media (min-width:1200px) {
                & {
                    display: none;
                }
            }
        }
    }



    &_menu {
        display: flex;
        list-style-type: none;
        gap: 20px;

        @media (min-width:320px) {
            & {
                display: none;
            }
        }

        @media (min-width:768px) {
            & {
                display: none;
            }
        }

        @media (min-width:1200px) {
            & {
                display: flex;
            }
        }


        &-item {
            border: 1px solid #FFFFFF;
            border-radius: 20px;
        }

        &-link {
            display: flex;
            text-decoration: none;
            padding: 10px 16px;

            & span {
                color: #FFF;
                margin-left: 12px;
                font-family: Manrope;
                font-size: 16px;
                font-weight: 700;
                line-height: normal;
            }
        }
    }

    &__nav__bg-start {
        position: fixed;
        top: 0;
        width: 100%;
        height: 138px;
        background-color: #202020;
        -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
        z-index: 2;
    }

    &__nav__bg {
        position: relative;
        width: 100%;
        height: 138px;
        background: linear-gradient(252.94deg, #FFEE32 20.52%, #D6D6D6 125.48%);
        z-index: 3;
    }

    &__device-width {
        padding-top: 401px;
        padding-bottom: 119px;
        color: #FFF;
        font-family: DynaPuff;
        font-size: 12px;

        &_text {
            font-family: DynaPuff;
            font-size: 80px;
            font-weight: 700;
            line-height: 96px;
            letter-spacing: 0em;
            text-align: left;
            color: #FFFFFF;

            @media (min-width:320px) {
                & {
                    font-family: DynaPuff;
                    font-size: 48px;
                    font-weight: 700;
                    line-height: 58px;
                    letter-spacing: 0em;
                    text-align: left;

                    padding-left: 21px;
                }

            }

            @media (min-width:768px) {
                & {
                    padding-left: 34px;
                    font-family: DynaPuff;
                    font-size: 80px;
                    font-weight: 700;
                    line-height: 96px;
                    letter-spacing: 0em;
                    text-align: left;
                }
            }
        }
    }
}


.meet {
    background: #202020;
    position: relative;
    padding-bottom: 112px;

    &__container {
        max-width: 540px;

        @media (min-width:320px) {
            & {
                max-width: 342px;
                margin-left: 16px;
            }
        }

        @media (min-width:768px) {
            & {
                max-width: 540px;
                margin-left: 33px;
            }
        }

        @media (min-width:1200px) {
            & {
                max-width: 540px;
            }
        }

    }

    &__title {
        padding-top: 97px;
        margin: 0;
        color: #FAEB49;
        font-family: DynaPuff;


        @media (min-width:320px) {
            & {
                padding-top: 72px;
                font-family: DynaPuff;
                font-size: 36px;
                font-weight: 700;
                line-height: 43px;
                letter-spacing: 0em;
                text-align: left;
            }
        }
    }

    &__description {
        padding-top: 40px;
        color: #FFF;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        @media (min-width:320px) {
            & {
                padding-top: 40px;
                font-family: Manrope;
                font-size: 15px;
                font-weight: 500;
                line-height: 20px;
                letter-spacing: 0em;
                text-align: left;

            }
        }
    }

    &__stats {
        list-style-type: none;
        padding-top: 40px;
        justify-content: space-between;
        align-items: center;
        padding-left: 0px;
        display: flex;
        justify-content: space-between;
    }

    &__stat {
        display: flex;
        flex-direction: column;
    }

    &__number {
        color: #FFF;
        font-family: DynaPuff;
        font-size: 48px;
        font-weight: 700;

        @media (min-width:320px) {
            & {
                font-size: 36px;
            }
        }
    }

    &__label {
        padding-top: 5px;
        width: 100%;
        color: #FFF;
        font-family: Manrope;
        font-size: 16px;
        font-weight: 700;

        @media (min-width:320px) {
            & {
                font-family: Manrope;
                font-size: 18px;
                font-weight: 700;
                line-height: 22px;
                letter-spacing: 0em;
                text-align: left;
            }

        }
    }

    &__image {
        background: url(../images/Group-3.png);
        background-repeat: no-repeat;
        width: 400px;
        height: 480px;
        display: flex;
        justify-content: end;
        position: absolute;
        right: 0;
        top: 0;

        @media (min-width:320px) {
            & {
                background: url(../images/Group-3-3.png);
                background-repeat: no-repeat;
                width: 115px;
                height: 466px;
                display: flex;
                justify-content: end;
                position: absolute;
                right: 0;
                top: 0;
            }
        }


        @media (min-width:768px) {
            & {
                background: url(../images/Group-3-2.png);
                background-repeat: no-repeat;
                width: 255px;
                height: 480px;
                display: flex;
                justify-content: end;
                position: absolute;
                right: 0;
                top: -9%;
            }
        }

        @media (min-width:1200px) {
            & {
                background: url(../images/Group-3.png);
                background-repeat: no-repeat;
                width: 400px;
                height: 480px;
                display: flex;
                justify-content: end;
                position: absolute;
                right: 0;
                top: -9%;
            }
        }
    }
}

.project {
    background-color: #3C3C3C;

    &-list {
        margin: 0;
        padding-top: 86px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        padding-left: 0;

        @media (min-width:768px) {
            padding-left: 33px;
            padding-right: 33px;
        }

        @media (min-width:320px) {
            padding-left: 16px;
            padding-right: 16px;
        }

    }

    &-item {
        position: relative;
        background-color: #FFFEF2;
        border-radius: 24px;
        padding: 20px;

        &__image {
            width: 100%;
            height: 498px;
            border-radius: 13px;

            @media (min-width:320px) {
                & {
                    object-fit: cover;
                    width: 100%;
                    height: 278px;
                }
            }

            @media (min-width:768px) {
                & {
                    object-fit: cover;
                    width: 100%;
                    height: 498px;
                }
            }
        }

        &__link {
            text-decoration: none;

            &::after {
                content: "";
                position: absolute;
                width: 56px;
                height: 56px;
                background-color: #FFFFFF;
                background-image: url("../images/Vector-4.png");
                background-repeat: no-repeat;
                background-position: center;
                top: 6%;
                right: 4%;
                border-radius: 28px;
            }
        }

        &__title {
            color: #565656;
            font-family: DynaPuff;
            font-size: 40px;
            font-weight: 600;
            margin: 0;
            padding-top: 20px;
        }

        &__description {
            color: #000;
            font-family: Manrope;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin: 0;
            padding-bottom: 24px;
            padding-top: 20px;
        }
    }

}


.spacer {

    &-list {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        padding-left: 0;
        padding-bottom: 86px;
        margin-bottom: 0;
        padding-top: 102px;

        @media (min-width:768px) {
            padding-left: 33px;
            padding-right: 33px;
        }

        @media (min-width:320px) {
            padding-left: 16px;
            padding-right: 16px;
        }

    }

    &-item {
        background-color: #FFFEF2;
        border-radius: 24px;
        padding: 20px;
        position: relative;


        &__image {
            width: 100%;
            height: 338px;
            border-radius: 32px;

            @media (min-width:320px) {
                & {
                    object-fit: cover;
                    width: 100%;
                    height: 363px;
                }
            }

            @media (min-width:768px) {
                & {
                    object-fit: cover;
                    width: 100%;
                    height: 448px;
                }
            }

            @media (min-width:1200px) {
                & {
                    width: 100%;
                    height: 338px;
                }
            }

        }

        &__link {
            text-decoration: none;

            &::after {
                content: "";
                position: absolute;
                width: 56px;
                height: 56px;
                background-color: #FFFFFF;
                background-image: url("../images/Vector-4.png");
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 28px;
                right: 10%;
                top: 6%;
            }
        }

        &__title {
            color: #565656;
            font-family: DynaPuff;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin: 0;
            padding-top: 20px;

        }

        &__description {
            color: #000;
            font-family: Manrope;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin: 0;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        &__small-picture-2 {
            @media (min-width:320px) {
                display: none;
            }

            @media (min-width:768px) {
                display: flex;
            }

            @media (min-width:1200px) {
                display: flex;
            }
        }

        &__small-picture-3 {
            @media (min-width:320px) {
                display: none;
            }

            @media (min-width:768px) {
                display: none;
            }

            @media (min-width:1200px) {
                display: flex;
            }
        }
    }
}

.graphics-design__image-list {
    list-style-type: none;
    padding-left: 0px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (min-width:320px) {
        grid-template-columns: 1fr;
    }

    @media (min-width:768px) {
        grid-template-columns: 1fr 1fr;

        .it-1 {
            grid-row: 1;
            grid-column: 1/span 2;
        }
    }

    gap: 50px
}


.graphics-design {
    background-color: #202020;

    &__title {
        color: #FFF;
        font-family: DynaPuff;
        font-size: 80px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0;
        padding-top: 82px;
        padding-bottom: 38px;

        @media (min-width:768px) {
            & {
                padding-left: 32px;
            }
        }

        @media (max-width:767px) {
            & {
                padding-left: 16px;
                color: #FFF;
                font-family: DynaPuff;
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin: 0;
                padding-top: 82px;
                padding-bottom: 38px;
            }
        }
    }


    &__image {
        object-fit: cover;
        width: 100%;
        height: 414px;
        border-radius: 40px;
        filter: grayscale(100%);

        @media (min-width:768px) {
            & {
                width: 100%;
            }

        }

        &-list {
            list-style-type: none;
            padding-left: 0px;
            margin: 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-bottom: 129px;

            @media (min-width:320px) {
                grid-template-columns: 1fr;
                padding-left: 16px;
                padding-right: 16px;
            }

            @media (min-width:768px) {
                grid-template-columns: 1fr 1fr;

                .it-1 {
                    grid-row: 1;
                    grid-column: 1/span 2;
                }
            }

            gap: 50px
        }

    }

    &__image-container {
        @media (min-width:768px) {
            & {
                padding-left: 34px;
                padding-right: 34px;
            }
        }
    }


}

.it-1,
.it-2,
.it-3 {
    position: relative;
}

.it-1::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(../images/Soft-Star.png);
    top: 50%;
    left: 50%;


    @media (min-width:320px) {
        & {
            width: 172px;
            height: 172px;
            background-image: url(../images/Soft-Star-320.png);
            transform: translate(calc(-172px/2), calc(-172px/2));
        }
    }

    @media (min-width:768px) {
        & {
            width: 227px;
            height: 227px;
            background-image: url(../images/Soft\ Star-768.png);
            transform: translate(calc(-227px/2), calc(-227px/2));
        }
    }

    @media (min-width:1200px) {
        & {
            width: 268px;
            height: 268px;
            background-image: url(../images/Soft-Star.png);
            transform: translate(calc(-268px/2), calc(-268px/2));
        }
    }


}

.it-2::after {
    content: "";
    position: absolute;
    width: 187px;
    height: 192px;
    background-image: url(../images/Butterfly.png);
    top: 50%;
    left: 50%;
    transform: translate(calc(-187px/2), calc(-192px/2));

    @media (min-width:320px) {
        & {
            width: 134px;
            height: 137px;
            background-image: url(../images/Butterfly-320.png);
            transform: translate(calc(-134px/2), calc(-137px/2));
        }
    }

    @media (min-width:768px) {
        & {
            width: 147px;
            height: 151px;
            background-image: url(../images/Butterfly-768.png);
            transform: translate(calc(-147px/2), calc(-151px/2));
        }
    }

    @media (min-width:1200px) {
        & {
            width: 187px;
            height: 192px;
            background-image: url(../images/Butterfly.png);
            transform: translate(calc(-187px/2), calc(-192px/2));
        }
    }
}

.it-3::after {
    content: "";
    position: absolute;
    width: 233px;
    height: 225px;
    background-image: url(../images/Asterisk-1.png);
    top: 50%;
    left: 50%;
    transform: translate(calc(-233px/2), calc(-225px/2));

    @media (min-width:320px) {
        & {
            width: 148px;
            height: 143px;
            background-image: url(../images/Asterisk-320.png);
            transform: translate(calc(-148px/2), calc(-143px/2));
        }
    }

    @media (min-width:768px) {
        & {
            width: 183px;
            height: 177px;
            background-image: url(../images/Asterisk-768.png);
            transform: translate(calc(-183px/2), calc(-177px/2));
        }
    }

    @media (min-width:1200px) {
        & {
            width: 233px;
            height: 225px;
            background-image: url(../images/Asterisk-1.png);
            transform: translate(calc(-223px/2), calc(-225px/2));
        }
    }
}


.quote-section {
    background-image: url(../images/Rectangle-8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #202020;
    background-blend-mode: soft-light;
    background-position: center 40%;
    height: 100%;

    &__title {
        padding-top: 303px;
        padding-bottom: 323px;
        font-family: DynaPuff;
        font-size: 48px;
        font-weight: 700;
        line-height: 58px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF;
        margin: 0;

        @media (min-width:320px) {
            padding-top: 180px;
            padding-bottom: 173px;
            padding-left: 16px;
            padding-right: 16px;
            font-family: DynaPuff;
            font-size: 24px;
            font-weight: 700;
            line-height: 29px;
            letter-spacing: 0em;
            text-align: center;

        }

        @media (min-width:768px) {
            padding-top: 274px;
            padding-bottom: 294px;
            padding-left: 32px;
            padding-right: 32px;
            font-family: DynaPuff;
            font-size: 48px;
            font-weight: 700;
            line-height: 58px;
            letter-spacing: 0em;
            text-align: center;

        }

        @media (min-width:1200px) {
            padding-top: 303px;
            padding-bottom: 323px;
            font-family: DynaPuff;
            font-size: 48px;
            font-weight: 700;
            line-height: 58px;
            letter-spacing: 0em;
            text-align: center;
        }


    }
}




.sect-custom {
    padding-top: 78px;
    padding-bottom: 133px;

    @media (max-width:320px),
    (min-width:320px) {
        padding-top: 53px;
        padding-bottom: 73px;
    }

    @media (min-width:768px) {
        padding-top: 96px;
        padding-bottom: 30px;
    }

    @media (min-width:1200px) {
        padding-top: 78px;
        padding-bottom: 133px;
    }
}

.sect-custom__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sect-custom__link {
    text-decoration: none;
    border: 1px solid;
    border-radius: 139px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: #F2F2F2;
    position: relative;

    @media (max-width:320px),
    (min-width:320px) {
        padding: 10px 15px;
        gap: 4px;
    }

    @media (min-width:768px) {
        padding: 21px 37px;
        gap: 17px;
    }

    @media (min-width:1200px) {
        padding: 42px 137px;
    }


    &::before {
        position: absolute;
        content: "";
        background-repeat: no-repeat;
        text-decoration: none;


        @media (max-width:320px),
        (min-width:320px) {
            & {
                width: 52px;
                height: 52px;
                background-image: url("../images/Dawn-320.png");
            }


        }

        @media (min-width:768px) {
            & {
                background-image: url("../images/Dawn.png");
                width: 108px;
                height: 108px;
            }

        }
    }

}


.sect-custom__title {
    font-family: DynaPuff;
    margin-left: 153px;
    font-weight: 700;

    @media (max-width:320px),
    (min-width:320px) {
        font-size: 20px;
        line-height: 24px;
        margin-left: 60px;
    }

    @media (min-width:768px) {
        margin-left: 153px;
        font-size: 48px;
        line-height: 58px;
    }
}

.sect-custom__call {
    font-weight: 500;
    font-family: DynaPuff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-left: 153px;

    &::after {
        background-size: contain;
        display: inline-block;
        content: "";
        background-image: url("../images/Group-2.png");
        background-repeat: no-repeat;

        @media (max-width:320px),
        (min-width:320px) {
            width: 32px;
            height: 16px;
        }

        @media (min-width:768px) {
            width: 55px;
            height: 26px;
        }
    }

    @media (max-width:320px),
    (min-width:320px) {
        font-size: 15px;
        line-height: 16px;
        margin-left: 60px;
    }

    @media (min-width:768px) {
        font-size: 24px;
        line-height: 33px;
        margin-left: 153px;
    }
}

.footer {
    background-color: #202020;
}



.icon {
    &-list {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        gap: 35px;
        padding-left: 0px;
        margin: 0;
        padding-top: 21px;
        padding-bottom: 21px;
    }
}

.copyright {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 30px;
}